

.NavBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50px;
}

.NavButton {
    background: #ccc;
    padding: 0px 10px 0px 0px;
    margin-top: 0;
    color: ivory; 
    background-image: linear-gradient(gray, black);
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  
    transition: all 0.5s;
    cursor: pointer;

}

.NavButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.NavButton:hover span {
    padding-right: 35px;
}

.NavButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.NavButton:hover span:after {
    opacity: 1;
    right: 0;
}

span {
    color: white;
}